html,body{
    width: 100%;
    height: 100%;
    font-size: 11px;
    font-family: "Microsoft YaHei";
    background-color: #24263d;
    color: #ffffff;
}
ul{
    width: 100%;
}
li.each-saicheng{
    width: 92.535%;
    height: 98px;
    border-bottom: 1px solid #58566e;
    padding: 42px 14px 18px 14px;
    position: relative;
}
.each-container{
    width: 100%;
    height: 100%;
    /*display: -webkit-flex;*/
    /*display: flex;*/

    /*flex-wrap: nowrap;*/
    /*-webkit-justify-content: space-between;*/
    /*justify-content:space-between;*/

}
.each-saicheng .cont{
    display: inline-block;
}
.each-saicheng .content-left{
    width: 19.021%;
    /*flex: 1;*/
    height: 106px;
    display: table-cell;
}
.each-saicheng .content-center{
    width: 38.33%;
    /*flex: 2;*/
    height: 106px;
    display: table-cell;
    vertical-align: top;
}
.each-saicheng .content-right{
    width: 19.021%;
    /*flex: 1;*/
    height: 106px;
    display: table-cell;
}
.content-center .center-title{
    /*display: -webkit-flex;*/
    /*display: flex;*/

    /*flex-wrap: nowrap;*/
    /*-webkit-justify-content: space-between;*/
    /*justify-content:space-between;*/

}
.content-center .center-title span{
    font-size: 12px;
}
.content-center .center-score{
    margin-top: 14px;
    font-size: 32px;
    text-align: center;
}
.content-left .country1-img{
    width: 58px;
    height: 58px;
    background-color: #383d53;
    padding: 4px ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.content-left .country1-img img{
    
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.content-left .country1-name{
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
    font-family: "simsun";
}






.content-right .country2-img{
    width: 58px;
    height: 58px;
    background-color: #383d53;
    padding: 4px ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.content-right .country2-img img{

    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.content-right .country2-name{
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
  
}
.each-saicheng .goal-left{
    width: 81px;
    height: 77px;
    position: absolute;
    left: 21.6%;
    top: 65px;
    overflow: hidden;

}
.each-saicheng .goal-container{
    color: #73788e;
    font-size: 11px;
    position: relative;
    top: 0;

}
.each-saicheng .goal-left .goal-container li{
    margin-left: 18px;
    position: relative;
    text-align: left;
}
.each-saicheng .goal-left .goal-container li span{
    display: inline-block;
    position: absolute;
    left: -18px;
    width: 15px;
    height: 15px;
}
.each-saicheng .goal-container li span img{
    width: 15px;
    height: 15px
}



.each-saicheng .goal-right .goal-container li{
    margin-right: 18px;
    position: relative;
    text-align: right;
}
.each-saicheng .goal-right .goal-container li span{
    display: inline-block;
    position: absolute;
    right: -18px;
    width: 15px;
    height: 15px;
}
.each-saicheng .goal-container li span img{
    width: 15px;
    height: 15px
}
.each-saicheng .goal-right{
    width: 81px;
    height: 77px;
    position: absolute;
    right: 21.6%;
    top: 65px;
    color: #73788e;
    font-size: 11px;
    overflow: hidden;
}
.each-saicheng .noneShow{
    display: none;
}

